body {
    text-align: center;
    margin: 0;
    background-color: black;
}
/***************************************/
/*******Body**Style**End****************/
/***************************************/

/***************************************/
/*******Heading**Style**Start***********/
/***************************************/

@font-face {
    font-family: Neon_Future;
    src: url('../fonts/Neon_Future.ttf') format('truetype');
}

.text-style{
    animation: text_title 1.5s infinite alternate;
    color: #fff;
}

/***************************************/
/*******Heading**Style**End*************/
/***************************************/

/***************************************/
/*******Grid**Style**Start**************/
/***************************************/

.caja {
  text-align: center;
}

.c1{
    grid-area: title;
    font-family: 'Neon_Future';
    font-size: 60px;
    align-self: center;
    color: #00ffff;
    padding: 25px 0 5px 0; 
}



.c3{
    grid-area: contenedor;
}

/***************************************/
/*******Grid**Style**End**************/
/***************************************/


/***************************************/
/*******Calculator**Style**Start********/
/***************************************/

.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#display{
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #e0e1dd;
    background-color: rgba(13,27,42,0.3);
    border: none;
    box-sizing: border-box;
}

#calculator {   
    max-width: 360px;
    margin-top: 10px;
    height: 400px;
    padding: 25px;
    border-radius: 26px;
    animation: bodycalculator 7s infinite alternate;
background: rgba(0,255,255,0.7);
box-shadow:  19px 19px 38px #007070,
             -10px -10px 25px #00ffff;
}

#display{
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #e0e1dd;
    background-color: rgba(13,27,42,0.3);
    border: none;
    box-sizing: border-box;
}

.operator {
    color: #f6ae2d;
}

#ac {
    color: #ff1053;
}

.equal {
    width: calc(50% - 10px);
}

button{
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(13, 27, 42);
    color: #e0e1dd;
    -webkit-box-shadow: -1px 1px 30px -5px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 1px 30px -5px rgba(0,0,0,0.2);
    box-shadow: -1px 1px 30px -5px rgba(0,0,0,0.2);
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(1.05);
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.19), 0 1.5px 1.5px rgba(0,0,0,0.23);
    animation-duration: 1s;
}


/***************************************/
/**********Calculator Style***End*******/
/***************************************/

/***************************************/
/**********Animation**Style***Start*****/
/***************************************/

@keyframes text_title {
    
    0%,  49%, 51%, 100% {
    text-shadow:  
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 10px #fff,
    /* Green glow */
    0 0 42px #00ffff,
    0 0 82px #00ffff,
    0 0 92px #00ffff,
    0 0 102px #00ffff,
    0 0 151px #00ffff;
    }
    50% {        
        text-shadow: none;
    }    
}



@keyframes bodycalculator {
    
    0%, 39%, 71%, 100% 
    {
        box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 1rem #00ffff,
        0 0 0.4rem #00ffff,
        0 0 2.0rem #00ffff,
        inset 0 0 1.3rem #00ffff;
        border-radius: 2em;
        }
        40%, 70% {        
            box-shadow: 
            0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 1rem #dc9211,
            0 0 0.4rem #dc9211,
            0 0 2.0rem #dc9211,
            inset 0 0 1.3rem #dc9211;
            border-radius: 2em;
        } 
    }

/***************************************/
/**********Aimation***Style***End*******/
/***************************************/

/***************************************/
/******Responsive*Web*Design**Start*****/
/***************************************/

@media screen and (min-width: 1024px) {
   
    .grid-layout{
        height: 990px;
        width: auto;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 1% 20% 60% 15%;
        grid-template-areas: 'empti0 empti0 empti0 empti0 empti0'  
                             'empti1 title title title empti2' 
                             'empti3 empti3 contenedor empti4 empti4'
                             'empti5 down down down empti6' ;
        background-image: url(../img/vector1.jpeg);
        background-repeat: no-repeat;
        object-fit:contain;
        background-position: center;
    }

}
  
  /* inicio de Responsive for Tablet */
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {

    .grid-layout{
        height: 900px;
        width: auto;
        display: grid;
        grid-template-columns: auto 10% 40% 10% auto;
        grid-template-rows: 1% 20% 60% 15%;
        grid-template-areas: 'empti0 empti0 empti0 empti0 empti0'  
                             'empti1 title title title empti2' 
                             'empti3 empti3 contenedor empti4 empti4'
                             'empti5 down down down empti6' ;
        background-image: url(vector1.jpeg);
        background-repeat: no-repeat;
        object-fit:contain;
        background-position: center;
        background-color: black;
    }

    .c1{
        grid-area: title;
        font-family: 'Neon_Future';
        font-size: 60px;
        align-self: center;
        color: #00ffff;
        box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 1rem #00ffff,
                0 0 0.4rem #00ffff,
                0 0 2.0rem #00ffff,
                inset 0 0 1.3rem #00ffff;
                border-radius: 2em;
        border: 0.05em solid #00ffff;
        padding: 20px 0 5px 0; 
    }
}
  
  /* inicio de Responsive for Smartphone */
  
  @media screen and (max-width: 767px) {

    .grid-layout{
        height: 820px;
        width: auto;
        display: grid;
        grid-template-columns: auto 10% 40% 10% auto;
        grid-template-rows: 1% 20% 60% 10%;
        grid-template-areas: 'empti0 empti0 empti0 empti0 empti0'  
                             'title title title title title' 
                             'empti3 contenedor contenedor contenedor empti4'
                             'empti5 down down down empti6' ;
        background-image: url(vector1.jpeg);
        background-repeat: no-repeat;
        object-fit:contain;
        background-position: center;
        background-color: black;
    }

    .c1{
        grid-area: title;
        font-family: 'Neon_Future';
        font-size: 30px;
        align-self: center;
        color: #00ffff;
        box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 1rem #00ffff,
                0 0 0.4rem #00ffff,
                0 0 2.0rem #00ffff,
                inset 0 0 1.3rem #00ffff;
                border-radius: 2em;
        border: 0.05em solid #00ffff;
        padding: 20px 0 5px 0; 
    }
}

/***************************************/
/******Responsive*Web*Design**End*******/
/***************************************/